* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Poppins', sans-serif;
}

.App {
	color: rgb(255, 255, 255);
}

.login-form-holder {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.background {
	background: #232323;
}

.form {
	padding: 1em;
}

.buttons {
	background: red;
}

.post-content {
	background: rgba(240, 255, 255, 0.29);
	padding: 0.5em 2em;
	border-radius: 20px;
	width: 100%;
	text-align: center;
}

.categories {
	cursor: pointer;
}

.content {
	word-wrap: break-word;
}
